.shop-cart{
	margin-top:100px;
	text-align:center;
}
h2{
	margin:30px auto;
	padding-top: 30px;
}
.cart-main{
	width: 900px;
	margin: 0 auto;
	background-color:#FFF9C4;
	border-radius: 20px;
	padding:10px;
}
.tit.content{
	color: #FF7D7D;
}
.content{
	text-align: center;
	display: flex;
	justify-content: space-around;
	background-color: white;
	margin:10px;
}
.content li{
	width: 150px;
}

.product-amount input{
	border: 0;
	text-align:center;
}
.product-del{
	color:#A9A8A8;
}

/*----maight----------------*/

.maight{
	width: 900px;
	margin: 0 auto;
}


.maight-like{
	padding:20px 0 5px;
	display: flex;
	justify-content:start;
}
.maight-like li{
	padding-left:240px;
}
.maight-like li:first-child{
	padding-right:70px;
}

.maight-main{
	display: flex;
	justify-content:space-around;
}


/*-----main-total--------------*/

.main-total{
	display: flex;
	flex-direction:column;
	align-items: center;
	color:#FBB646;
}
.main-total a{
	display: block;
	background-color: #FFD668;
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin:5px
}
.main-total a:last-child{
	background-color: #FF7D7D;
}

.main-total a:hover{
	background-color:#FBB646;
}

.main-total .total{
	background-color:#FFF9C4;
	border-radius: 10px;
	width: 120px;
	height:40px;
	margin-bottom: 5px;
}

.main-pic a:hover p{
	background-color:  #FFD668;
	text-align: center;	
	border-radius: 10px;
	color: white;
	width: 100px;
	font-size: 18px;
	margin: 0 auto;
		position: relative;
		top:-80px; 	
}


.main-pic a p{
	background-color:transparent;
	color:transparent;
}
.main-pic{
	display: flex;
}
.main-pic div{
	margin-left: 10px;
}
.rwd-tit{
	display: none;
}

@media (min-width: 992px) and (max-width: 1199px){
	.wrapper{
		width: 100%;
		border: 1px solid;
	}

}
@media (min-width:768px) and (max-width:991px){
	.wrapper{
		width: 100%;
	}
	.cart-main{
		max-width: 700px;
	}
	.maight{
		max-width: 700px;
		padding-top:30px;
	}
	.maight-like{
		display: none;
	}

}
@media (min-width:576px) and (max-width:767px){
	.wrapper{
		width: 100%;
	
	}
	.cart-main{
		max-width: 500px;
	}
	.maight{
		max-width: 500px;
		padding-top:30px;
	}
	.maight-like{
		display: none;
	}
	.maight-main{
		flex-direction: column;
	}
	.main-total{
		flex-direction: row;
		justify-content: center;
		margin-bottom: 30px;
	}
	.rwd-tit{
		display: block;
	}
}
@media screen and (max-width:575px){
	.wrapper{
		width: 100%;
	}
	.cart-main{
		max-width: 310px;
		padding:5px;
		font-size:13px;
	}
	.maight{
		max-width: 300px;
		padding-top:30px;
	}
	.maight-like{
		display: none;
	}
	.maight-main{
		flex-direction:column;
	}
	.main-pic{
		flex-direction: column;
	}
	.main-total{
		margin-bottom: 30px;
	}
	.rwd-tit{
		display: block;
	}
	.product-amount button{
		border: 0;
	}

}