

/*-----nav-----------*/
.nav .diy-btn a{
	color: white;
}
/*----------header------*/

.slider img{
	display: block;
	margin:0 auto;
	width: 100%;
}
.slider{
	margin: 0 auto;
	margin-top: 100px;
}
.slider div{
	margin: 0 auto;
}
.slider-nav div{
	margin-left:10px;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
    line-height:1;
    opacity:1;
    color: #FFD668;
}


/*--------div-----------*/

.diy img{
	display: block;
}	


.diy-main{
	margin: 0 auto;
	border-bottom: 10px dotted #FFD668;  
}
.diy-slider{
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.slider-for {
	padding: 20px;
}

.slider-for img{
	padding-top: 30px;
	padding-left:30px;
}

.slider-nav{
	padding-top:20px;
	cursor: pointer;
} 

.slider-nav img{
	width: 150px;
	padding-left:20px;
}
.slick-next {
    right:0px;
}
.slick-prev{
	left:0px;
}
.diy-tit{
	width: 500px;
	position: absolute;
	right:50px;
	top:20px;
}
.diy-tit-rwd{
	display: none;
}

.diy-main a{
	display: block;
	background-color:  #FFD668;
	text-align: center;
	border-radius: 10px;
	color: white;
}

.diy-main a:hover{
	background-color: #FF7D7D;
}
/* -----diy rwd----- */
@media (min-width: 992px) and (max-width: 1199px){
	.wrapper{
		width: 100%;
	}
	
}	
@media (min-width:768px) and (max-width:991px){
	.wrapper{
		width: 100%;
	}
	.diy-slider{
		max-width: 700px;
		padding: 30px 100px auto;
		padding-bottom:100px;	
	}
	.slider-for{
		max-width:300px;
		padding: 20px;
	}
	.slider-for img{
		max-width: 200px;

	}
	.slider-nav{
		margin-left: 250px;
		margin-top:-200px;
		max-width: 400px;
	}
	.slider-nav img{
		max-width:100px;
	}

	.diy-tit{
		display: none;
	}
	.diy-tit-rwd{
		display: block;
		padding-top: 20px;
	}
	.slick-next {
		right:400px;
	}
	.slick-prev:before{
		display: none;
	}
}
@media (min-width:576px) and (max-width:767px){
	.wrapper{
		width: 100%;
	}
	.diy-slider{
		max-width: 400px;
		padding: 30px 100px auto;
		padding-bottom:50px;	
	}
	.slider-for{
		padding:0;
		max-width:200px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.slider-for img{
		max-width:200px;
		padding:0;
	}
	.slider-nav{
		max-width:400px;
		margin: 0 auto;
	}
	.slider-nav img{
		max-width: 120px;;
		padding:0 16px;
	}
	.diy-tit{
		display: none;
	}
	.diy-tit-rwd{
		display: block;
		padding-top: 20px;
	}
	.slick-next {
		right:-20px;
	}
	.slick-prev{
		left:-20px;
	}

}
@media screen and (max-width:575px){
	.wrapper{
		width: 100%;
	}
	.diy-slider{
		max-width: 280px;
		padding: 10px;
	}
	.diy-tit{
		display: none;	
	}
	.diy-tit-rwd{
		display: block;
	}
	.slider-for{
		padding:0;
		max-width:150px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.slider-for img{
		max-width: 150px;
		padding:0;
	
	}
	.slider-nav{
		max-width:200px;
		margin: 0 auto;
	}
	.slider-nav img{
		max-width: 100px;;
		padding:0 10px;
	}
	.slick-next {
		right:-20px;
	}
	.slick-prev{
		left:-20px;
	}

}	


/*=========class============*/
body{
	background-image: 
	     linear-gradient(180deg, transparent 0%, transparent 10%, rgba(255,214,104,.1) 10%, rgba(255,214,104,.1) 100%),
	     linear-gradient(90deg, transparent 0%, transparent 10%, rgba(255,214,104,.1) 10%, rgba(255,214,104,.1) 100%);
	  
	     background-size: 50px 50px, 50px 50px, auto auto;
}
.class{
	margin-top:130px;
}

.class img{
	display:block;
	width: 200px;
	margin: 0 auto;
}
.inf-tit{
	width:500px;
	margin: 0 auto;
	text-align: center;
}
.class-slider{
	width:900px;
	margin: 0 auto;
}
.slick-center img{
	width: 220px;
}
.s-tit{
	color: #D7B974;
}

.class-inf{
	width: 900px;
	background-color: white;
	border-radius: 20px;
	margin: 30px auto;
}


.slick-next {
    right: -20px;
}
.slick-prev{
	left:-30px;
}

.class-inf {
	text-align: left;
	padding: 40px 50px 50px 50px;
}
 .class-inf h3{
	padding-top:10px;
}


.class a{
	display: block;
	background-color: #FFD668;
	color: white;
	border-radius: 10px;
	text-align: center;
}

/* ------class rwd-----*/
@media (min-width: 992px) and (max-width: 1199px){
	.wrapper{
		width: 100%;
	}
}
@media (min-width:768px) and (max-width:991px){
	.wrapper{
		width: 100%;

	}
	.class-inf{
		max-width: 700px;
	}
	.class-slider{
		max-width: 700px;

	}
	.class img{
		max-width: 150px;
	}
	.slick-center img{
		max-width: 180px;
	}
	.slick-next {
		right:-15px;
	}
	.slick-prev{
		left: 20px;
	}

}
@media (min-width:576px) and (max-width: 767px){
	.wrapper{
		width: 100%;

	}
	.class-inf{
		max-width: 500px;
	}
	.class-slider{
		max-width: 500px;

	}
	.class img{
		max-width: 100px;
	}
	.slick-center img{
		max-width: 150px;
	}
	.slick-next {
		right:-20px;
	}
	.slick-prev{
		left:-30px;
	}
}
@media screen and (max-width:575px){
	.wrapper{
		width: 100%;

	}
	.inf-tit{
		max-width: 300px;
	}
	.class-inf{
		max-width: 300px;
		text-align: center;
		padding:10px 15px;
	}
	.class-slider{
		max-width: 300px;

	}
	.class img{
		max-width: 120px;
	}
	.slick-center img{
		max-width: 150px;
	}
	.slick-next {
		right:30px;
	}
	.slick-prev{
		left:20px;
	}
}				