

/*---------------bg pic---------------*/


.slider img{
	display: block;
	margin:0 auto;
	width: 1140px;
	width: 100%;
}
.slider div{
	width: 1000px;
	margin: 0 auto;
}
/*------------news-------------------*/

.news img {
	width: 300px;
	height: 300px;
	margin-top: 50px;

}
.news {

	display: flex;
	align-items: center;
	justify-content: center;

}

.news-tit {
	padding-left: 80px;
}



a{
	display: block;
	color: #FFD668;
	
}

 a:hover{
	color:#FBB646;
}

/*-------------輪播商品------------*/

.product{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
.product img{
	margin: 0 auto;
	width: 250px;
}

.product li a{
	display: block;
	background-color:#FFD668;
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin:10px auto;
}

 .product li a:hover{
	display: block;
	background-color:#FF7D7D;
	text-align: center;
	border-radius: 10px;
	color: transparent;
	margin: 10px auto;

} 

.product p{
	position: relative;
	color: transparent;
	top:-40px;
}

.product p:hover{
	position: relative;
	top:-40px;
	color:white;	
} 
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #FFD668;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
	left: -45px;
}

/*--------------about------------*/

.about {
	height: 600px;
	background-color: #FFD668;
	display: flex;
	justify-content: center;
}

@keyframes swing{
	15%{transform: translatex(5px);}
	40%{transform: translatex(-5px);}
	65%{transform: translatex(2px);}
	85%{transform: translatex(-2px);}
	100%{transform: translatex(0px);}
}
.about  a:hover{
	animation:swing 1s infinite;
	
}


.tanaka{
	margin-top:100px;
	height: 400px;
	width: 400px;

	
}

.dia{
	width:150px;
}


/*-----------diy-----------*/
.diy {

	margin:30px auto;
	background-color:white;
	width: 900px;
	border-radius: 20px;
	text-align: center;
}


.flag{
	width: 500px;
	margin: 0 auto;	
}

.diy-pic{
	display: flex;
	justify-content: center;
	align-items: center;
}

.diy-pic img{
	width: 200px;
	display: flex;
	padding-bottom: 30px;
	padding-left: 5px;

}


/*------------map----------------*/


.map{
	margin: 0 auto;
	margin-bottom: 50px;
	background-color:white;
	width: 900px;
	border-radius: 20px;
	

}

.map img{
	width: 150px;

}

.map ul{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}

.map li p{
	line-height: 30px;
}

.s-tit{
	color: #FBB646;
}

/* -------------------------- */
@media screen and (max-width: 575px){
	.wrapper{
		width: 100%;
	}
  }
  @media (min-width: 576px) and (max-width: 767px){
	.wrapper{
	 	width:540px;
	}
  }		
  @media (min-width: 768px) and (max-width: 991px){
	.wrapper{
	 	width:720px;
	}
  }
  @media (min-width: 992px) and (max-width: 1200px){
	.wrapper{
	 	width:960px;
	}
}
  @media (min-width: 1200x){
	.wrapper{
		width:1140px;
  }
}