*{
	box-sizing: border-box;
}
body{
	background-color: #FFD668;
}


/* .wrapper{
	max-width: 1140px;
	margin: 0 auto;


} */

img{
	max-width: 100%;
	display: block;
	margin: auto;
}

a{
	display: block;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
	width: 300px;
}


.logo-bg{
	width: 300px;
	height: 300px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.logo-bg__inner{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	/* animation:logo-bg 3s ease forwards;  */
}

@keyframes logo-bg{
	0%{	
		transform: scale(0.2);
		transform: rotate(360deg);
		opacity: 0;
		

	}
	100%{
		opacity: 1;
		border-radius: 50%;
		background-color: white;
	}
}

/* 
.logo-tanaka{
	display:block;
	margin: 0 auto;
	position: relative;
	top: -300px;
	animation:logo 1.5s ease 1; 

}	

.logo--{
	margin: 0 auto;
	display: block;
	position: relative;
	top: -300px; 

	animation:logo 1.5s ease 1; 
}

.logo-cake{
	margin: 0 auto;
	display: block;
	position: relative;
	top: -350px; 
	animation:logo 1.5s ease 1; 
} */
.logo-item{
	position: relative;
}

.logo-tanaka{
	display:block;
	animation:logo 1.5s ease 1; 

}	

.logo--{
	
	display: block;

	animation:logo 1.5s ease 1; 
	margin-bottom: -40px;
}

.logo-cake{
	
	display: block;

	animation:logo 1.5s ease 1; 
}

.logo-item:hover{

	animation:swing 1s infinite	;

}

@keyframes logo{
	0%{	
		transform:scale(0.1);
		opacity: 0;

	}
	50%{
		transform:scale(1.2);
	}
	100%{
		opacity: 1;
	}
}

@keyframes swing{
	15%{ transform: translatey(10px);}
	40%{transform: translatey(-10px);}
	65%{transform: translatey(5px);}
	85%{transform: translatey(-5px);}
	100%{transform: translatey(0px);}
}

	




@media (min-width: 1200x){
	.wrapper{
		width:1140px;
	}

  }

  @media (max-width: 1199px){
	.logo-item{
		animation:swing 1s infinite;
	}
  }


  @media (max-width: 767px){
	.logo-bg{
		width:40vw;
		height: 40vw;
	}
	
	.loading a{
		width: 40vw;
	}
	.logo-cake{
		width: 35%;
	}
}