



/*-------------nav------------*/
.nav .product-btn a{
	color: white;
}

/*-------------------product----------*/

.cake-inf {
	width: 800px;
	background-color: white;
	margin:130px auto 30px;
	padding:30px ;
	border-radius: 20px;
	position: relative;

}

.cake-inf a{
	display: inline-block;
	text-decoration: none;
	background-color:  #FFD668;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	color: white;

}

.cake-inf a:hover{
	background-color:#FBB646 ;
}

.cake-inf .buy{
	display: inline-block;
	text-decoration: none;
	background-color: #FF7D7D;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin-right: 30px;

}
.cart-link{
	display: flex;
	justify-content:center;
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: 150px;
}

.cake-inf .buy:hover{
	
	background-color:#FBB646 ;
}
.cake-tit{
	position: absolute;
	top: 40px;
	right: 20px;
	z-index: 2;
}
.slider-nav{
	padding-left:80px;
}
.slider-nav img{
	max-width:120px;
}
.product-inf{
	color: #FBB646;
	background-color: transparent;
	border: 0;
	font-size: 20px;
}
 .slick-next:before {
    font-size: 35px;
    opacity:1;
    color: #FFD668;
}

.slick-next {
    left:200px;
}


input{
	width: 50px;
	height: 30px;
/*	font-size: 20px;*/
	border: none;
	background-color:#FFF9C4;
	border-radius: 5px;
	padding-left: 10px;
	color: #FF7D7D;
	font-weight: bold;
	text-align: center;
}

input:focus{
	outline: none;
}
/* -----cake-inf-dropdownList-----   */
.product-inf:focus{
		outline: none;
}
.dropdownList {
    display: none;
	font-size: 16px;
	padding: 10px;
	background-color: white;
	position:absolute;
	top: 150px;
}
.dropdownList p{
	color: #FBB646;
	border-top: 2px solid  #FBB646 ;
}
.active {
    display: block;
}
/*--------------maight-------*/


.maight-main{
	width: 800px;
	background-color: white;
	margin: 30px auto;
	padding:0px ;
	border-radius: 20px;
}
.maight-item{
	padding-top: 20px;
	display: flex;
	justify-content: space-around;	
}	
.maight-main p{
	background-color:transparent;
	width: 120px;
	border-radius: 10px;
	color: transparent;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -100px;
}

.maight-main li a:hover p{
	background-color:#FF7D7D;
	color: white;
}

.maight-main h3{
	font-size: 20px;
	padding: 30px 30px 0;
}
/* -----rwd----- */
@media (min-width: 992px) and (max-width: 1199px){
	.wrapper{
		width: 100%;
	}

}
@media (min-width:768px) and (max-width:991px){
	.wrapper{
		width: 100%;
	}.maight-main{
		max-width: 700px;
	}
	.cake-inf{
		max-width:700px;
	}
	.cake-tit{
		width:380px;
		top: 10px;
		right: 30px;
	}
	.dropdownList {
		top:200px;
	}

}
@media (min-width: 576px) and (max-width: 767px){
	.wrapper{
		width: 100%;
	}

	.maight-main{
		max-width: 500px;
	}
	.cake-inf{
		max-width:500px;
		padding-top:250px;
	}
	.cake-tit{
		padding-top: 30px;
		width:380px;
		top: 10px;
		right: 50px;
	}
	.dropdownList {
		top:200px;
	}
	.slider-for img{
		margin: 20px auto 0;
	}
	.slider-nav{
		padding:10px;
	}
	.slick-next {
		left:350px;
	}
	.maight-main{
		text-align: center;
	}
	.maight-item{
		flex-direction: column;
		align-items: center;
	}
}	
@media screen and (max-width:575px){
	.wrapper{
		width: 100%;
	}
	.maight-main{
		max-width: 300px;
	}
	.cake-inf{
		max-width:300px;
		padding-top:250px;
	}
	.cake-tit{
		padding-top: 30px;
		width:280px;
		top: 10px;
		right:5px;
	}
	.dropdownList {
		top:240px;
	}
	.cart-link{
		margin-top: -100px;
		flex-direction: column;
	}
	.cake-inf .buy{
		margin-bottom: 10px;
	}
	.slider-for img{
		margin: 20px auto 0;
	}
	.slider-nav{
		display: none;
	}
	.slick-next {
		left:220px;
	}
	.maight-main{
		text-align: center;
	}
	.maight-item{
		flex-direction: column;
		align-items: center;
	}
	
}