
.s-tit{
	color: #FBB646;
}


/*-------------nav------------*/
.product-btn a{
	color: white;
}

/*-------------------product----------*/



.product{
	margin: 50px auto;
	background-image: url(../img/product/bg.png);
	background-size: contain;
}

.product-main ul{
	display: flex;
	justify-content:space-around;
	align-items:center;
}

.product-main{
	width: 800px;
	background-color: white;
	margin:130px auto 30px;
	padding: 50px ;
	border-radius: 20px;

}

.product-main a{
	display: inline-block;
	text-decoration: none;
	background-color:  #FFD668;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin-left: 30px;
	margin-top: 10px;
}

.product-main a:hover{
	color:#FF7D7D;
}

.product-main .buy{
	display: inline-block;
	text-decoration: none;
	background-color: #FF7D7D;
	width: 120px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin-left: 30px;
	margin-top: 10px;
}

.product-main .buy:hover{
	color:#FFD668;
}



.cake-item .fa{
	width: 50px;
	height: 50px;
	background-color:#FFD668;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 48px;
	font-size: 1.5em;
	cursor: pointer;
	display: block;
}

.cake-item .fa:hover{
	background-color:#FF7D7D;
}

.cake-item{
	padding-top: 20px;
}

input{
	width: 50px;
	height: 30px;
/*	font-size: 20px;*/
	border: none;
	background-color:#FFF9C4;
	border-radius: 5px;
	padding-left: 10px;
	color: #FF7D7D;
	font-weight: bold;
	text-align: center;
}

input:focus{
	outline: none;
}

/*----------ol---------------*/

/*--------------maight-------*/


.maight-main{
	width: 800px;
	background-color: white;
	margin: 30px auto;
	padding:0px ;
	border-radius: 20px;
}	


.cake-item{
	display: flex;
	justify-content: space-around;	
}



.maight-main p{
	background-color:transparent;
	width: 120px;
	border-radius: 10px;
	color: transparent;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -100px;
}

.maight-main li a:hover p{
	background-color:#FF7D7D;
	color: white;
}

.maight-main h3{
	font-size: 20px;
	padding: 30px 30px 0;
}