body{
	background-color: #FFE5E5; 
	background-image: url(../img/product/bg.png);
	background-size:contain;
		
}

.slider img{
	display: block;
	margin:0 auto;
	width: 100%;
}
.slider{
	margin: 0 auto;
	margin-top: 100px;
}
.slider div{
	margin: 0 auto;
}

/*-------------nav------------*/
.nav .product-btn a{
	color: white;
}
.nav .p-btn a{
	color:#FFD668
}

/*-----------product------------------*/
 .product-item h2{
	text-align: center;
	padding-top: 60px;
}
.product{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
.product img{
	margin: 0 auto;
	width: 240px;
}

.product li a{
	display: block;
	background-color:#FFD668;
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin:10px auto;
}

 .product li a:hover{
	display: block;
	background-color:#FF7D7D;
	text-align: center;
	border-radius: 10px;
	color: transparent;
	margin: 10px auto;

} 

.product p{
	position: relative;
	color: transparent;
	top:-40px;
}

.product p:hover{
	position: relative;
	top:-40px;
	color:white;	
} 
.slick-prev:before, .slick-next:before {
    font-size: 40px;
    line-height: 1;
    opacity:1;
    color: #FFD668;
}
.slick-next {
    right: -20px;
}
.slick-prev{
	left:-40px;
}
.slick-prev, .slick-next{
	width: 40px;
	height: 40px;
}

/*------------customize------------*/


.customize-tit {
	background-color: white;
	margin:50px auto;
	width: 1000px;
	border-radius:20px;
	display: flex;
	justify-content:center;
}

.customize-tit li{
	padding: 50px 0; 
}

.customize-tit li img{
	padding-right:20px; 
}
.customize-tit a{
	display: block;
	color: #FFD668;
}

.customize-tit a:hover{
	color:#FBB646;
}
/* -----rwd----- */





@media screen and (max-width: 575px){
	.wrapper{
		width: 100%;
	}

	.product{
		max-width:70%;
	}  
	.product img{
		max-width:200px;
	}
	.product li a{
		width: 96px;
		height: 32px;
		line-height: 32px;
	}
	.product p:hover{
		position: relative;
		top:-32px;
	}
	.customize-tit{
		max-width: 290px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	.customize-tit li{
		padding: 20px 10px;
	} 
	.customize-tit li img{
		padding-right:0; 
	}
}

@media (min-width: 576px) and (max-width:767px){
	.wrapper{
		width: 100%;
	}
	.product{
		max-width:80%;
	}  
	.product img{
		max-width:200px;
	}

	.product li a{
		width: 108px;
		height: 36px;
		line-height: 36px;
	}
	.product p:hover{
		position: relative;
		top:-36px;
	}

	.customize-tit {
		max-width: 550px;
	}


}
@media (min-width: 768px) and (max-width: 991px){
	.wrapper{
		width: 100%;
	}
	.product{
		max-width:80%;
	}  

	.product img{
		max-width:200px;
	}
	.customize-tit {
		max-width: 700px;
	}
	
}	

@media (min-width: 992px) and (max-width: 1199px){
	.wrapper{
		width: 100%;

	}
	.customize-tit {
		max-width: 900px;
	}
}	