
*{
	box-sizing: border-box;
}

body{
	background-color: #FFFDED;
	font-family: arial;
	font-size: 20px;
	line-height: 40px;
}



img{
	transition: all 0.5s;
}

a{
	text-decoration: none;
	letter-spacing:2px;
	cursor: pointer;
}
a:focus{
	outline: 0;
}

.wrapper{
	
	margin:0 auto;
	width: 1200px;
}

h2{
	font-size: 30px;
	color: #FF7D7D;
}


h3{
	font-size: 25px;
	color:#FF7D7D; 
}

@media (min-width: 576px) and (max-width: 767px){
	body{
		font-size:18px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 22.5px;
	}

}
@media screen and (max-width: 575px){
	body{
		font-size:16px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}

}
/* ----------基本按鈕樣式---------- */

button.hamburger_icon{
	width: 30px;
	height: 30px;
	
	position: relative;
	cursor: pointer;
	outline: none;
	position: absolute;
	float: right;
	top:25px;
	right: 85px;
	border: transparent;
	background-color: white;
	border-radius: 50%;
	display: none;

  }
  	

  
/* ----------每一條橫線的樣式 ----------*/
button.hamburger_icon span.-hr{
	height: 2px;
	width: 15px;
	background-color:black;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
  }
  
/* ----------最上面那條線的樣式---------- */
button.hamburger_icon span.-hr.-top{
	top: 30%;
  }
  
/* ----------最下面那條線的樣式 ----------*/
button.hamburger_icon span.-hr.-bottom{
	top: 70%;
  }
  
  
  
/* -----------on 的狀態 ----------*/
/* 上方的線 */
button.hamburger_icon.-on span.-hr.-top{
	opacity: 0;
  }
/* 中間的線 */
button.hamburger_icon.-on span.-hr.-middle{
	opacity: 1;
  }
/* 下方的線 */
button.hamburger_icon.-on span.-hr.-bottom{
	opacity: 0;
  }

button.hamburger_icon:focus{
	outline: transparent;
}
/* -----------nav-rwd ----------*/
@media (min-width: 992px) and (max-width: 1200px){
    .nav{
         min-width:85%;
		}
 
}

@media (min-width: 768px) and (max-width: 991px){
    .nav{
        min-width:60%;
  		}
}

@media screen and (max-width:767px){
	.nav .about-btn,.nav .product-btn,.nav .qa-btn, .nav .diy-btn{
        display: none;
	}
	button.hamburger_icon{
		display: block;
	}
   
}
 
/* -----下拉式選單----- */

.nav .ham-bar{
	display: inline-block;
	background-color:#FFF9C4;
	text-align: center;
	display: none;
	margin-top:8px;
	z-index: 3;
  } 
.nav .ham-bar li:hover{
	background-color: #FFD668;
} 


/*---------------------------------------------------*/
nav{
	
	margin: 0 auto;
	height: 100px;
	background-color: #FFD668;
	position:fixed;
	top: 0;
	width: 100%;
	z-index:5;	
	
}

.nav{
	max-width: 1140px;
	height: 100px;
	margin:0 auto; 
	position: relative;

}

.nav ul a{
	 
	color: black;
	display: block;
 
}

.nav ul a:hover{
	color: white;	
}


.nav ul{

	display:flex;
	align-items: flex-end;
	justify-content:space-evenly;

}

/* -------nav-icon----- */


 .logo{
	transition: all 0.5s;
	padding-top: 10px;
}

.logo img {
	width: 95px;
	display: block;
	transition: all 0.5s;
	
} 

.logo:hover{
	transform:scale(1.2);
}


 .man {
	float: right;
	position: absolute;
	top:25px;
	right:50px;

}

.cart {
	float: right;
	position: absolute;
	top:25px;
	right:15px;

} 

.man img{
	display: block;
	width: 30px;

}
.cart img{
	display: block;
	width: 30px;

}

.man :hover{
	transform:scale(1.2);
}
.cart :hover{
	transform:scale(1.2);
}
@media screen and (max-width:767px){
	.man :hover{
		pointer-events: none;
	}
	.cart :hover{
		pointer-events: none;
	}
}
/*------------footer-------------------*/

footer{

	background-color:white;
	color: #D7B974;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}


footer .wrapper{
	display:flex;
	justify-content:space-around;
	padding-top: 20px;
}

footer ul{
	text-align: left;
}

.footer-rwd{
	display: none;
}
footer a{
	color:#D7B974;
	letter-spacing: 10px;
	display: inline-block;
}

footer a:hover{
	color:#FF7D7D;
	letter-spacing: 10px;
}

footer .fa{
	color: #FFD668;
}
footer .fa:hover{
	color:#FF7D7D;

}


footer ul p{
	color: #FFD668;
	text-align: left;
	font-size: 14px;
	line-height: 15px;

}

.p-bottom {
	padding-top: 20px;
}

@media (min-width: 576px) and (max-width: 767px){
	.footer-contact, .footer-icon, .footer-inf, .footer-where{
		display: none;
	}

	.footer-rwd{
		display: block;
		display: flex;
	}

	.footer-rwd li{
		padding: 0 30px;
	}

	.footer-rwd ul li:first-child{
		display: flex;
		flex-direction:column;
	}
}
@media screen and (max-width: 575px){
	.footer-contact, .footer-icon, .footer-inf, .footer-where{
		display: none;
	}

	.footer-rwd{
		display: block;
	
	}
}



/* -----popup member----- */
button:focus{
	outline: 0;
  }
.popup-wrap {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	content: '';
	z-index: 5;
	background-color:#FFFDED;
  }

.popup-box {
	min-width: 320px;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	padding-top:50px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
	background-image: url("../img/index/bg.png");
	text-align: center;
  }
.popup-box a{
	color: #FFD668;
} 
.popup-box img {
	display: block;
	margin: 0 auto;

  }
  
.close-btn {
	position:absolute;
	top:0px;
	right:20px;
	font-size:30px;
	color: #FFD668;
  }
.login-form{
	font-size: 16px;
	height: 350px;
	width: 300px;
	margin: 0 auto;
	margin-top: -7px;
	border-radius: 30px;
	padding:20px;
	background-color: white;
	border:15px solid #FFD668;
  }
.popup-wrap form input{
	border-radius: 5px;
	border: 0;
	background-color: #FFF9C4;
	padding-top:5px;
	margin-top:20px;
  }
.login{
	background-color:#FFD668;
	border: 0;
	border-radius:10px;
	font-size: 16px;
	color:white;
	width:80px;
  }
.checkbox a{
	padding-left:20px;
  }
.signup{
	background-color:#FF7D7D;
	border: 0;
	border-radius:10px;
	font-size: 16px;
	color:white;
	width:80px;
  }
.signup-form button{
	width: 120px;
	height: 30px;
	border: 0;
	border-radius: 8px;
	background-color:#FF7D7D;
	color:white;
  }
.login-form button{
	width: 120px;
	height: 30px;
	border: 0;
	border-radius: 8px;
	background-color:#FFD668;
	color:white;
  }
.btns button:last-child{
	background-color:#FBB646;
  }

.fa-google{
	color: firebrick;


  }
.fa-facebook-official{
	color:dodgerblue;
	background-color: white;
	border-radius: 20px;
	width: 10px;
	height: 10px;
  }
.popup-wrap form .checkbox{
	font-size: 12px;
  }
.popup-box input:valid {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
  
.signup-form{
	font-size: 16px;
	height: 350px;
	width: 300px;
	margin: 0 auto;
	margin-top: -7px;
	border-radius: 30px;
	padding: 20px;
	background-color: white;
	border:15px solid #FF7D7D;
	display: none;
  }
  
.popup-box p {
	position: relative;
  }
  
.popup-box p label {
	position: absolute;
	top: -10px;
	left: 40px;
  }
  
.signup-form.on{
	display:block;
  }
  
.login-form.off{
	display:none;
  }