
*{
	box-sizing: border-box;
}

body{
	background-color: #FFFDED;
	font-family: arial;
	font-size: 20px;
	line-height: 40px;
}



img{
	transition: all 0.5s;
}

a{
	text-decoration: none;
	letter-spacing:2px;
	cursor: pointer;
}

.wrapper{
	
	margin:0 auto;
	width: 1200px;
}

h2{
	font-size: 30px;
	color: #FF7D7D;
}


h3{
	font-size: 25px;
	color:#FF7D7D; 
}

@media (min-width: 576px) and (max-width: 767px){
	body{
		font-size:18px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 22.5px;
	}
	
}
@media screen and (max-width: 575px){
	body{
		font-size:16px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}

}
/* ----------基本按鈕樣式---------- */

button.hamburger_icon{
	width: 30px;
	height: 30px;
	
	position: relative;
	cursor: pointer;
	outline: none;
	position: absolute;
	float: right;
	top:25px;
	right: 85px;
	border: transparent;
	background-color: white;
	border-radius: 50%;
	display: none;

  }


  
/* ----------每一條橫線的樣式 ----------*/
button.hamburger_icon span.-hr{
	height: 2px;
	width: 15px;
	background-color:black;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }
  
/* ----------最上面那條線的樣式---------- */
button.hamburger_icon span.-hr.-top{
	top: 30%;
  }
  
/* ----------最下面那條線的樣式 ----------*/
button.hamburger_icon span.-hr.-bottom{
	top: 70%;
  }
  
  
  
/* -----------on 的狀態 ----------*/
/* 上方的線 */
button.hamburger_icon.-on span.-hr.-top{
	opacity: 0;
  }
/* 中間的線 */
button.hamburger_icon.-on span.-hr.-middle{
	opacity: 1;
  }
/* 下方的線 */
button.hamburger_icon.-on span.-hr.-bottom{
	opacity: 0;
  }

button.hamburger_icon:focus{
	outline: transparent;
}
/* -----------nav-rwd ----------*/
@media (min-width: 992px) and (max-width: 1200px){
    .nav{
         min-width:85%;
		}
 
}

@media (min-width: 768px) and (max-width: 991px){
    .nav{
        min-width:60%;
  		}
}

@media screen and (max-width:767px){
	.nav .about-btn,.nav .product-btn,.nav .qa-btn, .nav .diy-btn{
        display: none;
	}
	button.hamburger_icon{
		display: block;
	}
   
}
 
/* -----下拉式選單----- */

.nav .ham-bar{
	/* border:2px solid #FFD668; */
	display: inline-block;
	background-color:#FFF9C4;
	text-align: center;
	display: none;
	margin-top:8px;
  } 

/* .nav .ham-bar li{
	border-bottom: 2px solid #FFD668;
} 
.nav .ham-bar li:last-child{
	border-bottom: 2px solid transparent;
}  */

.nav .ham-bar li:hover{
	background-color: #FFD668;
} 


/*---------------------------------------------------*/
nav{
	
	margin: 0 auto;
	height: 100px;
	background-color: #FFD668;
	position:fixed;
	top: 0;
	width: 100%;
	z-index:5;	
	
	
}



.nav{
	max-width: 1140px;
	height: 100px;
	margin:0 auto; 
	position: relative;

}

.nav ul a{
	 
	color: black;
	display: block;
 
}

.nav ul a:hover{
	color: white;	
}


.nav ul{

	display:flex;
	align-items: flex-end;
	justify-content:space-evenly;

}

/* -------nav-icon----- */


 .logo{
	transition: all 0.5s;
	padding-top: 10px;
}

.logo img {
	width: 95px;
	display: block;
	transition: all 0.5s;
	
} 

.logo:hover{
	transform:scale(1.2);
}


 .man {
	float: right;
	position: absolute;
	top:25px;
	right:50px;

}

.cart {
	float: right;
	position: absolute;
	top:25px;
	right:15px;

} 

.man img{
	display: block;
	width: 30px;

}
.cart img{
	display: block;
	width: 30px;

}

.man :hover{
	transform:scale(1.2);
}
.cart :hover{
	transform:scale(1.2);
}
@media screen and (max-width:767px){
	.man :hover{
		transform:scale(1);
	}
	.cart :hover{
		transform:scale(1);
	}
}
/*------------footer-------------------*/

footer{

	background-color:white;
	color: #D7B974;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}


footer .wrapper{
	display:flex;
	justify-content:space-around;
	padding-top: 20px;
}

footer ul{
	text-align: left;
}

.footer-rwd{
	display: none;
}
footer a{
	color:#D7B974;
	letter-spacing: 10px;
	display: inline-block;
}

footer a:hover{
	color:#FF7D7D;
	letter-spacing: 10px;
}

footer .fa{
	color: #FFD668;
}
footer .fa:hover{
	color:#FF7D7D;

}


footer ul p{
	color: #FFD668;
	text-align: left;
	font-size: 14px;
	line-height: 15px;

}

.p-bottom {
	padding-top: 20px;
}

@media (min-width: 576px) and (max-width: 767px){
	.footer-contact, .footer-icon, .footer-inf, .footer-where{
		display: none;
	}

	.footer-rwd{
		display: block;
		display: flex;
	}

	.footer-rwd li{
		padding: 0 30px;
	}

	.footer-rwd ul li:first-child{
		display: flex;
		flex-direction:column;
	}
}
@media screen and (max-width: 575px){
	.footer-contact, .footer-icon, .footer-inf, .footer-where{
		display: none;
	}

	.footer-rwd{
		display: block;
	
	}
}
